<div class="container">
  <app-chart *ngIf="totalCoinsList.length" [totalCoinsList]="totalCoinsList"></app-chart>
  <hr>
  <div class="card" id="cryptoTableCard">
    <div class="card-header">
      <h3>Tabela de crypto</h3>
    </div>
    <div class="card-body">
      <table class="table table-inverse|reflow|striped|bordered|hover|sm">
        <thead>
          <tr>
            <th>Moeda</th>
            <th>Quantidade</th>
            <th>Investimento</th>
            <th>Taxas</th>
            <th>Investimento Real</th>
            <th>Preço</th>
            <th>Data</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchase of purchases;let i = index">
            <td>{{purchase.moeda}}</td>
            <td>{{purchase.quantidade}}</td>
            <td>{{purchase.investimento}}</td>
            <td>{{purchase.taxas}}</td>
            <td>{{purchase.investimentoReal}}</td>
            <td>{{purchase.preco | number:'1.2-4'}} €</td>
            <td>{{purchase.coinDate}}</td>
            <td>
              <button type="button" class="close" aria-label="Close" id="deleteRow" (click)="deleteTableItem(purchase.id)">
                <span aria-hidden="true">&times;</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" (click)="addCoins()">Add Coin +</button>
    </div>
    <div *ngIf="addCoin && !coinInserted && !coinCanceled" class="container">
      <div class="row">
        <div class="col-auto">
          <label for="moeda">Moeda</label>
          <input type="text" class="form-control"  [(ngModel)]="moeda" (input)="coinUpperCase($event)" >
        </div>
        <div class="col-auto">
          <label for="quantidade">Quantidade</label>
          <input type="number" class="form-control" id="quantidade" [(ngModel)]="quantidade" (input)="calcInvestAndPrice($event)" [disabled]="moeda === '' ">
        </div>
        <div class="col-auto">
          <label for="investimento" id="investimentoLabel">Investimento (€)</label>
          <input type="number" class="form-control" id="investimento" [(ngModel)]="investimento" (input)="calcInvestAndPrice($event)" [disabled]="moeda === '' || quantidade === null ">
        </div>
        <div class="col-auto">
          <label for="taxas" id="taxasLabel">Taxas (€)</label>
          <input type="text" class="form-control" id="taxas" [(ngModel)]="taxas" (input)="calcInvestAndPrice($event)" [disabled]="moeda === '' || quantidade === null || investimento == null">
        </div>
      </div>
      <!-- <br> -->
      <div class="row" id="coinDate">
        <div class="col-auto">
          <label for="coinDate">Data</label>
          <input type="date" class="form-control" placeholder="" [(ngModel)]="coinDate">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-auto">
          <label for="investimentoReal">Investimento Real</label>
          <br>
          <span>{{investimentoReal}} €</span>
        </div>
        <div class="col-auto">
          <label for="preco" id="preco">Preço</label>
          <br>
          <span>{{preco | number:'1.2-4'}} €</span>
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="insertCoin()" [disabled]="moeda === '' || quantidade === '' || investimento === '' || taxas === ''">
        Adicionar
      </button>
      <button type="button" class="btn btn-secondary" id="clear" (click)="clearFields()" [disabled]="moeda === '' && quantidade === null && investimento === null && taxas === 0">
        Limpar
      </button>
      <button type="button" class="btn btn-danger" id="clear" (click)="cancelCoin()">
        Cancelar
      </button>
    </div>
  </div>
  <br>
  <div class="card" id="cryptoTableCard">
    <div class="card-header">
      <h3>Balanço de investimento</h3>
    </div>
    <div class="card-body">
      <table class="table table-inverse|reflow|striped|bordered|hover|sm">
        <thead>
          <tr>
            <th>Moedas</th>
            <th>Quantidade</th>
            <th>Investimento</th>
            <th>Investimento Real</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coin of totalCoinsList;let i = index">
            <td>{{coin.moeda}}</td>
            <td>{{coin.quantidade}}</td>
            <td>{{coin.investimento}}</td>
            <td>{{coin.investimentoReal}}</td>
            <td>
              <button type="button" class="close" aria-label="Close" id="deleteRow" (click)="deleteTableItem(purchase.id)">
                <span aria-hidden="true">&times;</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="row">
        <div class="col-xs-1-12">

        </div>
        <div class="col-auto">
          <label for="moeda">Moedas</label>
          <br>
          <span>XRP</span>
        </div>
        <div class="col-auto">
          <label for="quantidade">Quantidade</label>
          <br>
          <span>123</span>
        </div>
        <div class="col-auto">
          <label for="investimento">Investimento</label>
          <br>
          <span>1 €</span>
        </div>
        <div class="col-auto">
          <label for="investimentoReal">Investimento Real</label>
          <br>
          <span>1 €</span>
        </div>
      </div> -->
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-success" id="save">Guardar</button>
  <button type="button" class="btn btn-danger" id="discard">Descartar</button>
</div>
