<div class="container">
  <div class="row">
    <h2>Portfólio</h2>
  </div>
  <div *ngIf="this.purchases.length" class="card">
    <div class="card-body">
      <app-chart [totalCoinsList]="totalCoinsList"></app-chart>
    </div>
  </div>
  <hr>
  <!-- Detalhes de compras -->
  <div class="card" id="cryptoTableCard">
    <div *ngIf="this.purchases.length" class="card-header">
      <h3>Detalhes de compras</h3>
    </div>
    <div class="card-body">
      <table *ngIf="this.purchases.length" class="table table-inverse|reflow|striped|bordered|hover|sm">
        <thead>
          <tr>
            <th>Moeda</th>
            <th>Quantidade</th>
            <th>Investimento</th>
            <th>Taxas</th>
            <th>Investimento Real</th>
            <th>Preço</th>
            <th>Data</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchase of purchases;let i = index">
            <td>{{purchase.moeda}}</td>
            <td>{{purchase.quantidade}}</td>
            <td>{{purchase.investimento | number:'1.2-4'}} €</td>
            <td>{{purchase.taxas | number:'1.2-4'}} €</td>
            <td>{{purchase.investimentoReal | number:'1.2-4'}} €</td>
            <td>{{purchase.preco | number:'1.2-4'}} €</td>
            <td>{{purchase.coinDate}}</td>
            <td>
              <button type="button" class="close" aria-label="Close" id="deleteRow" (click)="deleteTableItem(purchase.id)">
                <span aria-hidden="true">&times;</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" (click)="addCoins()">Add Coin +</button>
      <button *ngIf="this.totalCoinsList.length" type="button" class="btn btn-primary" (click)="seeBalanceInvest()" id="details">Ver detalhes</button>
    </div>
    <div [hidden]="!addCoin" class="container">
      <div class="row">
        <div class="col-auto">
          <label for="moeda">Moeda</label>
          <input type="text" class="form-control" id="moedaInput" [(ngModel)]="moeda" (input)="coinUpperCase($event)" #moedaInput>
        </div>
        <div class="col-auto">
          <label for="quantidade">Quantidade</label>
          <input type="number" class="form-control" id="quantidade" [(ngModel)]="quantidade" (input)="calcInvestAndPrice($event)" [disabled]="moeda === '' ">
        </div>
        <div class="col-auto">
          <label for="investimento" id="investimentoLabel">Investimento (€)</label>
          <input type="number" class="form-control" id="investimento" [(ngModel)]="investimento" (input)="calcInvestAndPrice($event)" [disabled]="moeda === '' || quantidade === null ">
        </div>
        <div class="col-auto">
          <label for="taxas" id="taxasLabel">Taxas (€)</label>
          <input type="number" class="form-control" id="taxas" [(ngModel)]="taxas" (input)="calcInvestAndPrice($event)" [disabled]="moeda === '' || quantidade === null || investimento == null">
        </div>
      </div>
      <!-- <br> -->
      <div class="row" id="coinDate">
        <div class="col-auto">
          <label for="coinDate">Data</label>
          <input type="date" class="form-control" placeholder="" [(ngModel)]="coinDate">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-auto">
          <label for="investimentoReal">Investimento Real</label>
          <br>
          <span>{{investimentoReal | number:'1.2-4'}} €</span>
        </div>
        <div class="col-auto">
          <label for="preco" id="preco">Preço</label>
          <br>
          <span>{{preco | number:'1.2-4'}} €</span>
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-success" (click)="insertCoin()" [disabled]="moeda === '' || quantidade === '' || investimento === '' || taxas === ''">
        Adicionar
      </button>
      <button type="button" class="btn btn-secondary" id="clear" (click)="clearFields()" [disabled]="moeda === '' && quantidade === null && investimento === null && taxas === 0">
        Limpar
      </button>
      <button type="button" class="btn btn-danger" id="clear" (click)="cancelCoin()">
        Cancelar
      </button>
    </div>
  </div>
  <br>
  <!-- Balanço e investimento -->
  <div [hidden]="!seeDetails" *ngIf="this.totalCoinsList.length" class="card" id="cryptoTableCard">
    <div class="card-header">
      <h3>Quantidade e investimento</h3>
    </div>
    <div class="card-body">
      <table class="table table-inverse|reflow|striped|bordered|hover|sm">
        <thead>
          <tr>
            <th>Moedas</th>
            <th>Quantidade</th>
            <th>Investimento</th>
            <th>Taxas</th>
            <th>Investimento Real</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coin of totalCoinsList;let i = index">
            <td>{{coin.moeda}}</td>
            <td>{{coin.quantidade | number:'1.2-4'}}</td>
            <td>{{coin.investimento | number:'1.2-4'}} €</td>
            <td>{{coin.taxas | number:'1.2-4'}} €</td>
            <td>{{coin.investimentoReal | number:'1.2-4'}} €</td>
        </tbody>
      </table>
      <br>
      <hr>
      <h3>Totais</h3>
      <hr>
      <div class="col-sm-6">
        <div class="row">
          <label for="preco" id="preco">Quantidade de moedas : </label>
          <br>
          <span>{{totals[0].quantidadeTotal | number:'1.2-4'}}</span>
        </div>
        <div class="row">
          <label for="preco" id="preco">Investimento : </label>
          <br>
          <span>{{totals[0].investimentoTotal | number:'1.2-4'}} €</span>
        </div>
        <div class="row">
          <label for="preco" id="preco">Taxas : </label>
          <br>
          <span>{{totals[0].taxasTotal | number:'1.2-4'}} €</span>
        </div>
        <div class="row">
          <label for="preco" id="preco">Investimento Real : </label>
          <br>
          <span>{{totals[0].investimentoReal | number:'1.2-4'}} €</span>
        </div>

        <!-- <table class="table table-inverse|reflow|striped|bordered|hover|sm">
        	<thead>
        	  <tr>
        		<th>Quantidade</th>
        		<th>Investimento</th>
        		<th>Taxas</th>
        		<th>Investimento Real</th>
        	  </tr>
        	</thead>
        	<tbody>
        	  <tr *ngFor="let coin of totals;let i = index">
        		<td>{{coin.quantidadeTotal}}</td>
        		<td>{{coin.investimentoTotal}}</td>
        		<td>{{coin.taxasTotal}}</td>
        		<td>{{coin.investimentoRealTotal}}</td>
        	</tbody>
        </table> -->

      </div>
      <button type="button" class="btn btn-secondary" id="closeDetails" (click)="closeDetails()">Fechar</button>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-success" id="save" [disabled]="!this.purchases.length">Guardar</button>
  <button type="button" class="btn btn-danger" id="discard" [disabled]="!this.purchases.length">Descartar</button>
</div>
